* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 14px;
}
a {
    text-decoration: none;
}
.line1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.line2 {
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}