<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.GoodsMapper">

    <resultMap id="BaseResultMap" type="com.example.entity.Goods">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="img" column="img" jdbcType="VARCHAR"/>
            <result property="date" column="date" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="category" column="category" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="saleStatus" column="sale_status" jdbcType="VARCHAR"/>
            <result property="readCount" column="read_count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,price,content,address,img,date,status,category,user_id,sale_status,read_count
    </sql>

    <select id="selectAll" resultType="com.example.entity.Goods">
        select
        <include refid="Base_Column_List" />
        from goods
        <where>
            <if test="id != null"> and id = #{id}</if>
            <if test="name != null"> and name like concat('%', #{name}, '%')</if>
            <if test="price != null"> and price = #{price}</if>
            <if test="content != null"> and content like concat('%', #{content}, '%')</if>
            <if test="address != null"> and address like concat('%', #{address}, '%')</if>
            <if test="img != null"> and img like concat('%', #{img}, '%')</if>
            <if test="date != null"> and date like concat('%', #{date}, '%')</if>
            <if test="status != null"> and status like concat('%', #{status}, '%')</if>
            <if test="category != null"> and category like concat('%', #{category}, '%')</if>
            <if test="userId != null"> and user_id = #{userId}</if>
            <if test="saleStatus != null"> and sale_status like concat('%', #{saleStatus}, '%')</if>
            <if test="readCount != null"> and read_count = #{readCount}</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Goods">
        select
        <include refid="Base_Column_List" />
        from goods
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from goods
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Goods" useGeneratedKeys="true" keyProperty="id">
        insert into goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="price != null">price,</if>
            <if test="content != null">content,</if>
            <if test="address != null">address,</if>
            <if test="img != null">img,</if>
            <if test="date != null">date,</if>
            <if test="status != null">status,</if>
            <if test="category != null">category,</if>
            <if test="userId != null">user_id,</if>
            <if test="saleStatus != null">sale_status,</if>
            <if test="readCount != null">read_count,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="price != null">#{price},</if>
            <if test="content != null">#{content},</if>
            <if test="address != null">#{address},</if>
            <if test="img != null">#{img},</if>
            <if test="date != null">#{date},</if>
            <if test="status != null">#{status},</if>
            <if test="category != null">#{category},</if>
            <if test="userId != null">#{userId},</if>
            <if test="saleStatus != null">#{saleStatus},</if>
            <if test="readCount != null">#{readCount},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Goods">
        update goods
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="img != null">
                img = #{img},
            </if>
            <if test="date != null">
                date = #{date},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="category != null">
                category = #{category},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="saleStatus != null">
                sale_status = #{saleStatus},
            </if>
            <if test="readCount != null">
                read_count = #{readCount},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>
